<div class="Section Section_column Section_columnLeft Section_columnDesktop">
	<div
		class="wrap">
		<div class="Section-content" style="padding-left: 0px;">
			<header class="Section-header">
				<h2 class="Section-title">Каталог Топ товаров</h2>
			</header>
			<div class="Cards">
				{% if topProducts %}
					{% for product in topProducts %}
						<div class="Card">
							<a class="Card-picture" href="#"><img src="{{ asset(product.image)}}" alt="card.jpg"></a>
							<div class="Card-content">
								<strong class="Card-title">
									<a href="{{ path ('app_product_show', { slug: product.id} ) }}">{{ product.name }}</a>
								</strong>
								<div class="Card-description">
									<div class="Card-cost">
										<span class="Card-price">${{ product.price }}</span>
									</div>
									<div class="Card-category">{{ product.category.name }}
									</div>
									<div class="Card-hover">
										<a class="Card-btn" href="#"><img src="{{ asset('images/icons/card/bookmark.svg')}}" alt="bookmark.svg"></a>
										<a class="Card-btn" href="#"><img src="{{ asset('images/icons/card/cart.svg')}}" alt="cart.svg"></a>
										<a class="Card-btn" href="compare.html"><img src="{{ asset('images/icons/card/change.svg')}}" alt="change.svg"></a>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
</div>
