{% extends 'base.html.twig' %}

{% block mainContent %}

	<div class="Middle Middle_top">
		{% include 'partial/header-line.html.twig' with {'title': 'Товар', 'parent': 'Главная'} %}

		<div class="Section">
			<div class="wrap">
				<div class="Product">
					<div class="ProductCard">
						<div class="ProductCard-look">
							<div class="ProductCard-photo">
								<img src="{{ asset ('images/content/home/bigGoods.png')}}" alt="bigGoods.png"/>
							</div>
							<div class="ProductCard-picts">
								<a class="ProductCard-pict ProductCard-pict_ACTIVE" href="assets/img/content/home/bigGoods.png">
									<img src="{{ asset ('images/content/home/bigGoods.png')}}" alt="bigGoods.png"/></a>
								<a class="ProductCard-pict" href="assets/img/content/home/slider.png">
									<img src="{{ asset ('images/content/home/slider.png')}}" alt="slider.png"/></a>
								<a class="ProductCard-pict" href="assets/img/content/home/videoca.png">
                                <img src="{{ asset ('images/content/home/videoca.png')}}" alt="videoca.png"/></a>
							</div>
						</div>
						<div class="ProductCard-desc">
							<div class="ProductCard-header">
								<h2 class="ProductCard-title">{{ product.name }}</h2>
								<div class="ProductCard-info">
									<div class="ProductCard-cost">
										<div class="ProductCard-price">${{ product.price }}</div>
									</div>
									<div class="ProductCard-compare">
										<a class="btn btn_default" href="#">
                                        <img class="btn-icon" src="{{ asset ('images/icons/card/change.svg')}}" alt="change.svg"/></a>
									</div>
								</div>
							</div>
							<div class="ProductCard-text">
								<p></p>
									{{ product.description }}
							</div>
							<div class="ProductCard-cart">
								<div class="ProductCard-cartElement ProductCard-cartElement_amount">
									<div class="Amount Amount_product">
										<button class="Amount-remove" type="button"></button>
										<input class="Amount-input form-input" name="amount" type="text" value="1"/>
										<button class="Amount-add" type="button"></button>
									</div>
								</div>
								<div class="ProductCard-cartElement">
									<a class="btn btn_primary" href="#">
                                    <img class="btn-icon" src="{{ asset ('images/icons/card/cart_white.svg')}}" alt="cart_white.svg"/>
                                    <span class="btn-content">Купить</span>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="Tabs Tabs_default">
						<div class="Tabs-links">
							<a class="Tabs-link_ACTIVE Tabs-link" href="#description">
								<span>Описание</span>
							</a>
							<a class="Tabs-link" href="#sellers">
								<span>Продавцы</span>
							</a>
							<a class="Tabs-link" href="#reviews">
								<span>Отзывы ({{ product.reviews|length }})</span>
							</a>
						</div>
						<div class="Tabs-wrap">
							<div class="Tabs-block" id="description">
								{{ product.description }}
							</div>
							<div class="Tabs-block" id="sellers">
								<div class="Categories Categories_product">
									<div class="Categories-row">
										<div class="Categories-block Categories-block_info">
											<div class="Categories-info">
												<strong>Очень дешево
												</strong>
											</div>
										</div>
										<div class="Categories-splitProps"></div>
										<div class="Categories-block Categories-price">
											<strong>€&#32;40.58
											</strong>
										</div>
										<div class="Categories-block Categories-button">
											<a class="btn btn_primary" href="#">
                                            <img class="btn-icon" src="{{ asset ('images/icons/card/cart_white.svg')}}" alt="cart_white.svg"/><span class="btn-content">Купить</span>
											</a>
										</div>
									</div>
									<div class="Categories-row">
										<div class="Categories-block Categories-block_info">
											<div class="Categories-info">
												<strong>pleer.ru
												</strong>
											</div>
										</div>
										<div class="Categories-splitProps"></div>
										<div class="Categories-block Categories-price">
											<strong>€&#32;69.04
											</strong>
										</div>
										<div class="Categories-block Categories-button">
											<a class="btn btn_primary" href="#">
                                            <img class="btn-icon" src="{{ asset ('images/icons/card/cart_white.svg')}}" alt="cart_white.svg"/><span class="btn-content">Купить</span>
											</a>
										</div>
									</div>
									<div class="Categories-row">
										<div class="Categories-block Categories-block_info">
											<div class="Categories-info">
												<strong>citilink.ru
												</strong>
											</div>
										</div>
										<div class="Categories-splitProps"></div>
										<div class="Categories-block Categories-price">
											<strong>€&#32;112.69
											</strong>
										</div>
										<div class="Categories-block Categories-button">
											<a class="btn btn_primary" href="#">
                                            <img class="btn-icon" src="{{ asset ('images/icons/card/cart_white.svg')}}" alt="cart_white.svg"/><span class="btn-content">Купить</span>
											</a>
										</div>
									</div>
									<div class="Categories-row">
										<div class="Categories-block Categories-block_info">
											<div class="Categories-info">
												<strong>М.Видео
												</strong>
											</div>
										</div>
										<div class="Categories-splitProps"></div>
										<div class="Categories-block Categories-price">
											<strong>€&#32;197.32
											</strong>
										</div>
										<div class="Categories-block Categories-button">
											<a class="btn btn_primary" href="#"><img class="btn-icon" src="{{ asset ('images/icons/card/cart_white.svg')}}" alt="cart_white.svg"/><span class="btn-content">Купить</span>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="Tabs-block" id="reviews">
								{% if product.reviews %}
									{% for review in product.reviews %}
										<div class="Comments">
											<div class="Comment">
											<div class="Comment">
												<div class="Comment-column Comment-column_pict">
													<div class="Comment-avatar"></div>
												</div>
												<div class="Comment-column">
													<header class="Comment-header">
														<div>
															<strong class="Comment-title">{{ review.authorName }}
															</strong>
															<span class="Comment-date">{{ review.createdAt|date }}</span>
														</div>
													</header>
													<div class="Comment-content">{{ review.content }}</div>
												</div>
											</div>
										</div>
										</div>
									{% endfor %}
								{% endif %}

								<header class="Section-header Section-header_product">
									<h3 class="Section-title">Оставить отзыв</h3>
								</header>
								<div class="Tabs-addComment">
									{{ form_start(form, {'attr': {'class': 'form'}}) }}
										<div class="form-group">
											{{ form_row(form.content) }}
										</div>
										<div class="form-group">
											<div class="row">

												<div class="row-block">
													{{ form_row(form.author_name,
														{attr: {
															value: app.user.name|default(false),
														} }) }}
												</div>
												<div class="row-block">
													{{ form_row(form.author_email, {attr: {
														value: app.user.email|default(false),
													} }) }}
												</div>
											</div>
										</div>
										<div class="form-group">
											<button class="btn btn_muted" type="submit">Оставить отзыв</button>
										</div>
									{{ form_end(form) }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
