<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Товарный агрегатор Megano</title>
    <link href="favicon.ico" rel="shortcut icon">
    <link rel="preload" href="{{ asset('fonts/Roboto/Roboto-Regular.woff') }}" as="font">
    <link rel="preload" href="{{ asset('fonts/Roboto/Roboto-Italic.woff') }}" as="font">
    <link rel="preload" href="{{ asset('fonts/Roboto/Roboto-Bold.woff') }}" as="font">
    <link rel="preload" href="{{ asset('fonts/Roboto/Roboto-Bold_Italic.woff') }}" as="font">
    <link rel="preload" href="{{ asset('fonts/Roboto/Roboto-Light.woff') }}" as="font">
    <link rel="preload" href="{{ asset('fonts/Roboto/Roboto-Light_Italic.woff') }}" as="font">
    <link
            rel="icon"
            href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="Site">

<header class="Header">
    <div class="ControlPanel">
        <div class="wrap">
            <div class="row ControlPanel-row">
                <div class="row-block">
                    <div class="row ControlPanel-rowSplit">
                        <div class="row-block">
                            <a class="ControlPanel-title" href="sale.html">Скидки</a>
                        </div>
                        <div class="row-block hide_700">
                            <span class="ControlPanel-title">Мы в соцсетях</span>
                            <ul class="menu menu_img menu_smallImg ControlPanel-menu">
                                <li class="menu-item">
                                    <a class="menu-link" href="#"><img
                                                src="{{ asset('images/icons/socialHeader/fb.svg') }}" alt="fb.svg"/></a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" href="#"><img
                                                src="{{ asset('images/icons/socialHeader/tw.svg') }}" alt="tw.svg"/></a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" href="#"><img
                                                src="{{ asset('images/icons/socialHeader/in.svg') }}" alt="in.svg"/></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <nav class="row-block">
                    <div class="row ControlPanel-rowSplit">
                        <div class="row-block">
                            {% if app.user|default(false) %}
                                <a class="ControlPanel-title" href="/profile">{{ app.user.email }}</a>&nbsp;/
                                <a class="ControlPanel-title" href="/logout">Выйти</a>
                            {% else %}
                                <a class="ControlPanel-title" href="/login">Войти</a>&nbsp;/&nbsp;<a
                                    class="ControlPanel-title" href="/register">Регистрация</a>
                            {% endif %}
                        </div>
                    </div>
                </nav>
            </div>
        </div>

    </div>
    <div class="wrap">
        <div class="row Header-rowMain">
            <div class="row-block Header-logo">
                <a class="logo" href="{{ path('app_main') }}"><img class="logo-image"
                                                                   src="{{ asset('images/logo.png') }}" alt="logo.png"/></a>
            </div>
            <nav class="row-block row-block_right Header-menu">
                <div class="menuModal" id="navigate">
                    <ul class="menu menu_main">
                        <li class="menu-item">
                            <a class="menu-link" href="{{ path('app_main') }}">Главная</a>
                        </li>
                        <li class="menu-item">
                            <span class="menu-label menu-label_danger">Hot</span>
                            <a class="menu-link" href="{{ path('app_catalog') }}">Каталог</a>
                        </li>
                        <li class="menu-item">
                            <span class="menu-label menu-label_success">New</span>
                            <a class="menu-link" href="sale.html">Скидки</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="{{ path('app_contacts') }}">Контакты</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="row-block">
                <div class="CartBlock">
                    <a class="CartBlock-block" href="compare.html"><img class="CartBlock-img"
                                                                        src="{{ asset('images/icons/exchange.svg') }}"
                                                                        alt="exchange.svg"/><span
                                class="CartBlock-amount">4</span>
                    </a>
                    <a class="CartBlock-block" href="cart.html"><img class="CartBlock-img"
                                                                     src="{{ asset('images/icons/cart.svg') }}"
                                                                     alt="cart.svg"/><span
                                class="CartBlock-amount">0</span>
                    </a>
                    <div class="CartBlock-block">
                        <span class="CartBlock-price">0.00$</span>
                    </div>
                </div>
            </div>
            <div class="row-block Header-trigger">
                <a class="menuTrigger" href="#navigate">
                    <div class="menuTrigger-content">Показать навигацию
                    </div>
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
        </div>
    </div>
    <div class="Header-searchWrap">
        <div class="wrap">

            {% include 'partial/header-categories.html.twig' %}

            <div class="Header-searchLink"><img src="{{ asset('images/icons/search.svg') }}" alt="search.svg"/>
            </div>
            <div class="Header-search">
                <div class="search">
                    <form class="form form_search" action="#" method="post">
                        <input class="search-input" id="query" name="query" type="text" placeholder="Найти..."/>
                        <button class="search-button" type="submit" name="search" id="search"><img
                                    src="{{ asset('images/icons/search.svg') }}" alt="search.svg"/>Поиск
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if is_main|default(false) == true %}
        {% include '/main/main-slider.html.twig' %}
    {% endif %}

</header>

