{% extends 'base.html.twig' %}

{% block mainContent %}

	<div class="Middle Middle_top">
		{% include 'partial/header-line.html.twig' with {'title': 'Продавец' , 'parent': 'Главная'} %}

		<div class="Section Section_column Section_columnLeft Section_columnWide">
			<div class="wrap">
				<div class="Section-column">
					<div class="Section-columnSection Section-columnSection_mark">
						<div class="media media_middle">
							<div class="media-image"><img src="{{ asset('images/icons/contacts/phone.svg')}}" alt="phone.svg">
							</div>
							<div class="media-content">Тел:
								<nobr>{{ seller.phone }}</nobr>
							</div>
						</div>
					</div>
					<div class="Section-columnSection Section-columnSection_mark">
						<div class="media media_middle">
							<div class="media-image"><img src="{{ asset('images/icons/contacts/address.svg')}}" alt="address.svg">
							</div>
							<div class="media-content">
								{{ seller.address }}
							</div>
						</div>
					</div>
					<div class="Section-columnSection Section-columnSection_mark">
						<div class="media media_middle">
							<div class="media-image"><img src="{{ asset('images/icons/contacts/mail.svg')}}" alt="mail.svg"></div>
							<div class="media-content">Email: {{ seller.email }}</div>
						</div>
					</div>
				</div>
				<div class="Section-content">
					<div class="row row_verticalCenter row_maxHalf">
						<div class="row-block">
							<div class="pict"><img src="{{ asset(seller.image)}}" alt="bigGoods.png">
							</div>
						</div>
						<div class="row-block">
							<h2>{{ seller.name }}</h2>
							<p>{{ seller.description }}</p>
						</div>
					</div>
					<header class="Section-header">
						<h2 class="Section-title">Популярные товары продавца</h2>
					</header>
					<div class="Cards">

						{% if products %}
							{% for product in products|sort((a, b) => a.info.salesCount <=> b.info.salesCount )|slice(0, 10) %}
								<div class="Card">
									<a class="Card-picture" href="#"><img src="{{ asset('images/content/home/card.jpg')}}" alt="card.jpg"></a>
									<div class="Card-content">
										<strong class="Card-title">
											<a href="{{ path('app_product_show', {'slug':product.info.id}) }}">{{ product.info.name }}</a>
										</strong>
										<div class="Card-description">
											<div class="Card-cost">
												<span class="Card-price">${{ product.price }}</span>
											</div>
											<div class="Card-category">{{ product.info.category.name }}
											</div>
											<div class="Card-hover">
												<a class="Card-btn" href="#"><img src="{{ asset('images/icons/card/bookmark.svg')}}" alt="bookmark.svg"></a>
												<a class="Card-btn" href="#"><img src="{{ asset('images/icons/card/cart.svg')}}" alt="cart.svg"></a>
												<a class="Card-btn" href="#"><img src="{{ asset('images/icons/card/change.svg')}}" alt="change.svg"></a>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>

	</div>

{% endblock %}
